# Firebase
.firebase/
firebase-debug*.log
.runtimeconfig.json

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
ENV/
api/.venv/

# Node
node_modules/
frontend/node_modules/
frontend/.next/
frontend/out/

# OS
.DS_Store

# IDE
.vscode/
.idea/
